<!--
     <app-ngif-directive></app-ngif-directive>
     <app-ng-switch></app-ng-switch>
     <app-ng-for></app-ng-for>

<div style="text-align: center">
  <h2>
      welcome {{message}}
  </h2>
</div>
 
<app-component-interaction [parentData]="name"></app-component-interaction>


  <!- capture the event from child $event capture the message ,
     message variable will decalre on app.component ->

 <app-component-interaction (childEvent)="message=$event" [parentData]="name">

 </app-component-interaction>
-->

<app-pipe></app-pipe>
 
    